body
{
    background-image :url(pomodoro.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: left;
}

.btn {
  border: 2px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.btn:hover {}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn btn-success {
  border-color: #4CAF50;
  }
.btn btn-danger {
  border-color: #f44336;
  }
